<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align="center">Welcome to <%= title %></h1>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="enroll">enroll</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="verify">verfiy</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="identify">identify</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="delete_finger">delete_finger</button>
        </div>

        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">User ID:</span>
            </div>
            <input type="text" class="form-control" id="userid" placeholder="e.g., 1234">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Finger ID:</span>
            </div>
            <select id="fingerid" class="form-control">
              <option value=0>N/A</option>
              <option value=1>Right Thumb</option>
              <option value=2>Right Index</option>
              <option value=3>Right Middle</option>
              <option value=4>Right Ring</option>
              <option value=5>Right Little</option>
              <option value=6>Left Thumb</option>
              <option value=7>Left Index</option>
              <option value=8>Left Middle</option>
              <option value=9>Left Ring</option>
              <option value=10>Left Little</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-sm-7">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Results:</span>
            </div>
            <textarea class="form-control" rows="3" id="results" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="resModel" tabindex="-1" role="dialog" aria-labelledby="resModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="resModelLabel">Result</h4>
          </div>
          <div class="modal-body" id="modalResDiv">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src='/javascripts/page-script.js'></script>
    <!-- JavaScript for Bootstrap Modal -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='/jquery/jquery.slim.min.js'></script>
    <script src='/javascripts/popper.min.js'></script>
    <script src='/bootstrap/bootstrap.min.js'></script>
  </body>
</html>
