body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-fluid {
  margin-top: 10px;
}

textarea {
  resize: none;
}

#testBox {
  border-style: solid;
  padding: 5px;
  border-color: red;
}
